[Unit]
After=network.target
Description=SecretChannel

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/post-tts/
ExecStart=/home/ubuntu/post-tts/env/bin/python3 /home/ubuntu/post-tts/app.py
Restart=always

[Install]
WantedBy=multi-user.target