[Unit]
After=network.target
Description=SecretChannel

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/random-coffee-lite/
ExecStart=/home/ubuntu/random-coffee-lite/env/bin/python3 /home/ubuntu/random-coffee-lite/app.py
Restart=always

[Install]
WantedBy=multi-user.target